.main-container {
  display: flex;
  background-color: lightgray;
  width: 100%;
  height: 90vh;
  gap: 0.2rem;
}

.side-box {
  flex: 1;
}
.main-box {
  flex: 5;
  background-color: white;
}

.ham-menu {
  display: none;
}

@media screen and (max-width: 1280px) {
  .side-box {
    flex: 1.5;
  }
  .main-box {
    flex: 5;
  }
}

@media screen and (max-width: 1024px) {
  .side-box {
    flex: 2;
  }
  .main-box {
    flex: 6;
  }
}
@media screen and (max-width: 768px) {
  .side-box {
    flex: 2;
  }
  .main-box {
    flex: 5;
  }
}

@media screen and (max-width: 640px) {
  .main-container {
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
  }

  .ham-menu {
    display: inline;
  }

  .side-box {
    display: none;
  }

  .main-box {
    width: 100%;
  }
}
